{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<head>
  <title>About us</title>

 <link href="{% static 'myapp/assets/css/about.css' %}" rel="stylesheet">

</head>
<div class="container">
  <div class="how-section1">
    <div class="row">
      <div class="col-md-6 how-img">
         <img src="{% static 'myapp/img/bg.png' %}"  class="rounded img-fluid" alt=""/>
      </div>
    <div class="col-md-6">
      <h4>ABOUT US</h4>
      <p><strong>Rental Cars is one of the leading car rental companies in Kazakhstan <br></strong>

      Rent a car in Kazakhstan and benefit from low prices, professional service and a great range of comfortable new vehicles. And with our car rental stations in Kazakhstan and across the world located exactly where you need them most – in city centers, airports and railway stations – you'll be hitting the road in no time, whether travelling for business or pleasure.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 ms-lg-auto">
    <h4>WE OFFER</h4>
     <p><strong>Search for the best deals on rental cars <br></strong>
      Find cheap car hire fast and hit the road happy with Rental Cars. Search the world’s top car hire companies. Instantly compare prices. Then book direct with the car rental company of your choice. It’s so easy. We search thousands of destinations and compare thousands of car hire deals to help you find your perfect drive at a low price</p>
    </div>
    <div class="col-md-6 how-img pt-sm-3">
    <img src="{% static 'myapp/img/brydon.png' %}"   class="rounded img-fluid" alt="secondlogo"/>
    </div>
  </div>
 </div>



<div class="how-section1">
      <div class="container-fluid">

            <div class="row text-center ">
                <h1 style="color: black;"><strong>OUR BRANDS</strong></h1>
            </div>
            <div class="row ms-auto justify-content-center pt-sm-1">
                <div class="col-md-2 col-sm-4">
                    <img src="{% static 'myapp/img/ford.png'%}" class="rounded img-fluid" alt="">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img src="{% static 'myapp/img/Chevrolet.png'%}"  class="rounded img-fluid" alt="">
                </div>

                <div class="col-md-2 col-sm-4">
                    <img src="{% static 'myapp/img/toyota.png'%}"  class="rounded img-fluid" alt="">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img src="{% static 'myapp/img/hyundai.png'%}" class="rounded img-fluid" alt="">
                </div>
                 <div class="col-md-2 col-sm-4">
                    <img src="{% static 'myapp/img/lexus-logo.png'%}"  class="rounded img-fluid" alt="">
                </div>
                 <div class="col-md-2 col-sm-4">
                    <img src="{% static 'myapp/img/tesla.jpg'%}"  class="rounded img-fluid" alt="">
                </div>
            </div>

    </div>
    </div>
</div>
{% endblock content %}