{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}
<head>
  <title>Catalog</title>

 <!-- <link href="{% static 'myapp/assets/css/catalog.css' %}" rel="stylesheet"> -->

</head>
  <!-- =======Catalog======== -->
   <div class="container mb-5 mt-5">
     <div class="row">
      {% for vehicle in vehicles %}
       <!--Car #i-->
       <div class="col-md-4 mt-5">
         <div class="card mb-3">
           <div class="product-1 align-items-center p-2 text-center">
            <img src="/static/myapp/assets/img/{{vehicle.image}}"  alt="{{vehicle.name}}" class="rounded img-fluid img-thumbnail" width="300" >

             <div class="mt-auto" info>
              <h5>{{vehicle.company.name}} {{vehicle.model}}</h5>
               <span class="text1 d-block">
                {{vehicle.per_day}} $/day
               </span>
             </div>
             <a href="{% url 'vehicle_detail' vehicle.id %}" class="btn btn-primary">
              View Details</a>
           </div>
           
           <div class="p-auto shoe text-center text-white">
             <!-- {% context ={ 
              'pk_u': user.id,
              'pk_v': vehicle.pk
             } %} -->
            
           </div>
         </div>
       </div><!--Car #i End here--->
       {% endfor %}
      
       
     </div>  
   </div>
   {% endblock content %}
