{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course</title>
     <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'myapp/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'myapp/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'myapp/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'myapp/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'myapp/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'myapp/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/about.css' %}">
</head>
<body>
 <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">CRental</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{% url 'main' %}">HOME</a></li>
          <li><a class="nav-link scrollto" href="catalog.html">CATALOG</a></li>
          <li><a class="nav-link scrollto"  href="{% url 'about' %}">ABOUT</a></li>
            <li><a class="nav-link scrollto " href="contact.html">CONTACT US</a></li>
          <li><a class="nav-link scrollto" href="SignIn.html">SIGN IN</a></li>
          <li><a class="nav-link scrollto" href="registration.html">REGISTRATION</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
<div class="container">
  <div class="how-section1">
    <div class="row">
      <div class="col-md-6 how-img">
         <img src="{% static 'myapp/img/bg.png' %}"  class="rounded img-fluid" alt=""/>
      </div>
    <div class="col-md-6">
      <h4>ABOUT US</h4>
      <p><strong>Rental Cars is one of the leading car rental companies in Kazakhstan <br></strong>

      Rent a car in Kazakhstan and benefit from low prices, professional service and a great range of comfortable new vehicles. And with our car rental stations in Kazakhstan and across the world located exactly where you need them most – in city centers, airports and railway stations – you'll be hitting the road in no time, whether travelling for business or pleasure.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 ms-lg-auto">
    <h4>WE OFFER</h4>
     <p><strong>Search for the best deals on rental cars <br></strong>
      Find cheap car hire fast and hit the road happy with Rental Cars. Search the world’s top car hire companies. Instantly compare prices. Then book direct with the car rental company of your choice. It’s so easy. We search thousands of destinations and compare thousands of car hire deals to help you find your perfect drive at a low price</p>
    </div>
    <div class="col-md-6 how-img pt-sm-3">
    <img src="{% static 'myapp/img/brydon.png' %}"   class="rounded img-fluid" alt="secondlogo"/>
    </div>
  </div>
 </div>



<div class="how-section1">
      <div class="container-fluid">

            <div class="row text-center ">
                <h1 style="color: black;"><strong>OUR BRANDS</strong></h1>
            </div>
            <div class="row ms-auto justify-content-center pt-sm-1">
                <div class="col-md-2 col-sm-4">
                    <img src="{% static 'myapp/img/ford.png'%}" class="rounded img-fluid" alt="">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img src="{% static 'myapp/img/Chevrolet.png'%}"  class="rounded img-fluid" alt="">
                </div>

                <div class="col-md-2 col-sm-4">
                    <img src="{% static 'myapp/img/toyota.png'%}"  class="rounded img-fluid" alt="">
                </div>
                <div class="col-md-2 col-sm-4">
                    <img src="{% static 'myapp/img/hyundai.png'%}" class="rounded img-fluid" alt="">
                </div>
                 <div class="col-md-2 col-sm-4">
                    <img src="{% static 'myapp/img/lexus-logo.png'%}"  class="rounded img-fluid" alt="">
                </div>
                 <div class="col-md-2 col-sm-4">
                    <img src="{% static 'myapp/img/tesla.jpg'%}"  class="rounded img-fluid" alt="">
                </div>
            </div>

    </div>
    </div>
</div>
     <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
              <p>
               8(888) 888-88-88<br>
               Almaty, Kazakhstan<br>
              </p>
          </div>
          <div class="social-links mt-3 right">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
        </div>
      </div>
    </div>
    <!--Footer--->
    <div class="container">
      <div class="copyright">
        &copy; All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- Vendor JS Files -->
<!--  <script src="assets/vendor/aos/aos.js"></script>-->
<!--  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!--  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>-->
<!--  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>-->
<!--  <script src="assets/vendor/php-email-form/validate.js"></script>-->
<!--  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>-->

  <!-- Template Main JS File -->
  <script src="{% static 'myapp/assets/js/main.js' %}"></script>
</body>

</html>