{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}

<div class="row pt-4">
    <div class="col-md-6 ms-auto mb-4">
        <img src="/{{vehicle.image}}" alt="{{ vehicle.name }}" width="100%">
    </div>
    <div class="col-md-4 text-black">
        <h5>Model:</h5>
        <p>{{vehicle.company.name}} {{ vehicle.model }}</p>
        <br>
        <h5>Number passengers:</h5>
        <p>{{ vehicle.number_pass }}</p>
        <br>
        <h5>Transmission:</h5>
        <p>{{ vehicle.transmission }}</p>
        <br>
        <h5>Stereo:</h5>
        <p>{{ vehicle.stereo }}</p>
        <br>
        <h5>Mileage:</h5>
        <p>{{ vehicle.mileage }}</p>
        <br>
        <h5>Vehicle cost per day:</h5>
        <p>{{ vehicle.per_day }}</p>
    </div>
</div>
{% endblock %}