
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Registration</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 <!-- Vendor CSS Files -->
 <link href="{% static 'myapp/assets/vendor/aos/aos.css' %}" rel="stylesheet">
 <link href="{% static 'myapp/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
 <link href="{% static 'myapp/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
 <link href="{% static 'myapp/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
 <link href="{% static 'myapp/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
 <link href="{% static 'myapp/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
 <link
     href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&display=swap"
     rel="stylesheet">
  <!-- Template Main CSS File  -->
 <link href="{% static 'myapp/assets/css/registration.css' %}" rel="stylesheet">

</head>
<body>

 <!-- ======= Header ======= -->
 <header id="header" class="d-flex align-items-center">
   <div class="container d-flex align-items-center justify-content-between">

    <h1 class="logo"><a href="{% url 'main' %}">CRental</a></h1>
      <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto active" href="{% url 'main' %}">HOME</a></li>
            <li><a class="nav-link scrollto" href="{% url 'catalog' %}">CATALOG</a></li>
            <li><a class="nav-link scrollto"  href="{% url 'about' %}">ABOUT</a></li>
              <li><a class="nav-link scrollto " href="{% url 'contacts' %}">CONTACT US</a></li>
            <li><a class="nav-link scrollto" href="{% url 'sign' %}">SIGN IN</a></li>
            <li><a class="nav-link scrollto" href="{% url 'registration' %}">REGISTRATION</a></li>
        </ul>
       <i class="bi bi-list mobile-nav-toggle"></i>
     </nav><!-- .navbar -->

   </div>
 </header>
  

  <!-- =======Registration======== -->
  <section class="vh-100 gradient-custom">
  <div class="container py-8 h-100 w-200">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-4">
        <div class="card bg-black text-white" style="border-radius: 1rem;">
          <div class="card-body p-4 text-center">

            <div class="mb-md-3 mt-md-4 pb-5">

              <h2 class="fw-bold mb-3 text-uppercase">Registration</h2>
             <p class="text-white-50 mb-5">Fill in, please </p>
            <form method="POST" action="">
						{% csrf_token %}
						<div class="input-group form-outline form-white mb-4">

							{{form.name}}
						</div>
<!--                       <div class="input-group form-outline form-white mb-4">-->

<!--							{{form.surname}}-->
<!--						</div>-->
						<div class="input-group form-outline form-white mb-4">

							{{form.email}}
						</div>
						<div class="input-group form-outline form-white mb-4">

							{{form.password1}}
						</div>
						<div class="input-group form-outline form-white mb-4">

							{{form.password2}}
						</div>



				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn btn-outline-light login_btn btn-lg px-5" type="submit" value="Register Account">
				   		</div>

					</form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
              <p>
               8(888) 888-88-88<br>
               Almaty, Kazakhstan<br>
              </p>
          </div>
          <div class="social-links mt-3 right">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
        </div>
      </div>
    </div>
    <!--Footer--->
    <div class="container">
      <div class="copyright">
        &copy; All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <!-- Vendor JS Files -->
<!--  <script src="assets/vendor/aos/aos.js"></script>-->
<!--  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<!--  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>-->
<!--  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>-->
<!--  <script src="assets/vendor/php-email-form/validate.js"></script>-->
<!--  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>-->

  <!-- Template Main JS File -->
  <script src="{% static 'myapp/assets/js/main.js' %}">

  </script>
 <script>
     var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username';
		form_fields[2].placeholder='Email';
		form_fields[3].placeholder='Enter password';
		form_fields[4].placeholder='Re-enter Password';


		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
 </script>
</body>
</html>
{% endblock %}