{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Registration</title>

 <link href="{% static 'myapp/assets/css/registration.css' %}" rel="stylesheet">

</head>
<body>

  

  <!-- =======Registration======== -->
  <section class="vh-100 gradient-custom">
    <div class="container py-8 h-100 w-200">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-4">
          <div class="card bg-black text-white" style="border-radius: 1rem;">
            <div class="card-body p-4 text-center">
  
              <div class="mb-md-3 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-3 text-uppercase">Registration</h2>
               <p class="text-white-50 mb-5">Fill in, please </p>
			   <form method="post" id="registration-form">
				{% csrf_token %}
				<div class="mb-3">
					<label for="firstName" class="form-label fs-5"> </label>
					<input class="form-control" type="text" name="first_name" id="firstName" required>
				</div>
				<div class="mb-3">
					<label for="lastName" class="form-label fs-5"> </label>
					<input class="form-control" type="text" name="last_name" id="lastName" required>
				</div>
				<div class="mb-3">
					<label for="registration-email" class="form-label fs-5"> </label>
					<input class="form-control" type="email" name="email" id="registration-email"
						   placeholder="example@mail.ru" required>
				</div>
				<div class="mb-3">
					<label for="registration-password1" class="form-label fs-5">  </label>
					<input class="form-control" type="password" name="password1"
						   id="registration-password1" required>
				</div>
				<div class="mb-3">
					<label for="registration-password2" class="form-label fs-5">  </label>
					<input class="form-control" type="password" name="password2"
						   id="registration-password2" required>
				</div>

				{% for field in registration_form %}
				<p>
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				{% endfor %}
				{% if registration_form.non_field_errors %}
				<div style="color: red">
					<p>{{ registration_form.non_field_errors }}</p>
				</div>
				{% endif %}

				   		<div class="d-flex justify-content-center mt-3 login_container">
				 			<input class="btn btn-outline-light btn-lg px-5" type="submit" value="Register Account">
				   		</div>

					</form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


 <script>
     var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='First name';
		form_fields[2].placeholder='Last name';
		form_fields[3].placeholder='Email';
		form_fields[4].placeholder='Enter password';
		form_fields[5].placeholder='Re-enter Password';


		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
 </script>

{% endblock content %}