{% extends 'myapp/base.html' %}
{% load static %}
{% block content %}

<head>
  <title>Sign in</title>

 <link href="{% static 'myapp/assets/css/SignIn.css' %}" rel="stylesheet">

</head>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="{% url 'main' %}">CRental</a></h1>
        <nav id="navbar" class="navbar">
          <ul>
              <li><a class="nav-link scrollto active" href="{% url 'main' %}">HOME</a></li>
              <li><a class="nav-link scrollto" href="{% url 'catalog' %}">CATALOG</a></li>
              <li><a class="nav-link scrollto"  href="{% url 'about' %}">ABOUT</a></li>
                <li><a class="nav-link scrollto " href="{% url 'contacts' %}">CONTACT US</a></li>
              <li><a class="nav-link scrollto" href="{% url 'sign' %}">SIGN IN</a></li>
              <li><a class="nav-link scrollto" href="{% url 'registration' %}">REGISTRATION</a></li>
          </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
  

  <!-- =======Sign in======== -->
  <section class="vh-100 gradient-custom">
  <div class="container py-8 h-100 w-200">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-4">
        <div class="card bg-black text-white" style="border-radius: 1rem;">
          <div class="card-body p-4 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">

              <h2 class="fw-bold mb-2 text-uppercase">Sign in</h2>
              <p class="text-white-50 mb-5">Please enter your login and password!</p>



                <form method="POST" action="">
						{% csrf_token %}
              <div class="form-outline form-white mb-4">

                <input type="text" id="typeEmailX" class="form-control form-control-lg" name = "username" placeholder="Your email" />
                  <label class="form-label" for="typeEmailX" >Username</label>
              </div>

              <div class="form-outline form-white mb-4">
                <input type="password" id="typePasswordX" class="form-control form-control-lg" name = "password" placeholder="Your password" />
                <label class="form-label" for="typePasswordX">Password</label>
              </div>

              <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>

              <button class="btn btn-outline-light btn-lg px-5" type="submit">Sign in</button>
                     </form>
            </div>

            <div>
              <p class="mb-1 ">Don't have an account? <a href="{% url 'registration' %}" class="text-white-50 fw-bold">Sign Up</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>


  <main id="main">

 <!-- ======= Footer ======= -->
 <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
              <p>
               8(888) 888-88-88<br>
               Almaty, Kazakhstan<br>
              </p>
          </div>
          <div class="social-links mt-3 right">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
        </div>
      </div>
    </div>
    <!--Footer--->
    <div class="container">
      <div class="copyright">
        &copy; All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->
  {% endblock content %}
